.searching {
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px #ccc;

  .search-option,
  .input {
    width: 50%;
    background-color: #fff;
    border-right: 1px solid #ccc;
    flex: 1;

    ::ng-deep .mat-mdc-form-field {
      width: 100%;
    }

    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    // ::ng-deep .mat-mdc-text-field-wrapper {
    //   padding: 0.5em;
    // }
    ::ng-deep .mat-mdc-form-field-underline {
      display: none;
    }
  }

  .date {
    display: flex;
    align-items: center;
    width: 50%;

    input {
      border: none;
      outline: none;
      background-color: #fafafa;
    }
  }
}

::ng-deep div.mat-mdc-select-panel {
  padding: 0px !important;
}