@use '../../../../variables' as colors;

.dialog-container {
    width: 300px;
    max-width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 5px;

    .dialog-header {
        padding: 5px 10px 10px 10px;
        line-height: 2;
        border-radius: 4px 4px 0 0;

        p {
            margin: 0;
        }
    }

    .dialog-body {
        text-align: center;
        white-space: pre-wrap;
    }

    .dialog-footer {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 20px;

        .yes-button {
            background-color: colors.$red;
            color: white;
        }
    }
}

.mdc-snackbar__surface.mat-mdc-snackbar-surface {
    color: transparent !important;
    box-shadow: unset !important;
    display: block !important;
    padding: 0 !important;
    background-color: unset !important;
    border-radius: unset !important;

    .mdc-snackbar__label {
        padding: 0;
    }
}