div{
    display: flex;
    flex-direction: row;
        align-items: baseline;
    gap: 10px;
    padding: 0 10px;
}
.mat-icon{
    position: absolute;
    right: 10px;
    top: 20px;
        font-size: 15px;
}