.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .timeOptions {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        margin: 1rem 0;
    }

    .map-section {
        width: 100%;
        height: 100%;

        .map_container {
            width: 100%;
            height: 100%;
            display: block;
            padding: 0;
            overflow: hidden;
        }


        .map {
            height: 100%;
            padding: 0;
            overflow: hidden;
        }
    }

    .analatics {
        background-color: white;
        width: 30%;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 20px;
        z-index: 401;
        max-height: 77vh;
        overflow: hidden;

        .filter {
            margin-bottom: 10px;
        }

        ;

        .mat-tab-label {
            width: fit-content !important;
            min-width: fit-content !important;
            padding: 0 !important;
        }

        .mat-form-field {
            width: 100%;
        }

        .trips {
            display: flex;
            flex-wrap: wrap;
            div{
                width: 50%;
            }
            .trips-list {

                overflow-y: auto;
                height: 55vh;
                min-height: 20vh;
            }
        }

        .card {
            display: flex;
            justify-content: space-between;
            padding: 15px 7px;
            box-shadow: 2px 2px 2px 2px #00000066;
            border-radius: 10px;
            align-items: center;
            margin: 15px auto;

            h4 {
                margin: 0;
            }
        }

        .currentTrip {
            display: block;

            .trip-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px 0;

                span {
                    font-weight: bold;
                }
            }

            .trip-card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
            }
        }
    }
}

.invalid {
    color: red;
    font-size: 10px;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;

        .map-section {
            width: 100%;
        }

        .analatics {
            width: 100%;
            height: auto;
            position: unset;
            top: unset;
            right: unset;
        }
        .trips{
            div{
                width: 100%;
            }
        }
    }

}