$yellow:#ffd428;
#form_box {
  display: block;
  width: 90%;
  max-width: 380px;
  margin: 0px auto;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 12px -6px #000;
  text-align: center;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 264px;
    background: #fbc700;
    display: inline-block;
  }

  >img , >div {
    display: inline-block;
    position: relative;
  }

  >img {
    margin-top: 40px;
    width: 165px;
    margin-bottom: 15px;
  }

  >div {
    background: #fff;
    width: 76%;
    padding: 0px 20px 20px;
    border-radius: 5px;
    >span {
      display: inline-block;
      width: 100%;
      text-align: left;
      margin: 10px 0px;
      >label {
        display: block;
      }
      >input {
        display: block;
        width: 100%;
        padding: 8px;
        border: 1px solid #dfdfdf;
        border-radius: 4px;
      }

      >button {
        cursor: pointer;
        background: $yellow;
        border: none;
        padding: 13px 50px;
        border-radius: 5px;
        box-shadow: 0px 3px 7px #d7d7d7;
        color: #fff;
        font-size: 14px;
        &:hover{
          background:#000;
          color: #fff;
        }

        &:disabled{
          background: #ccc;
          &:hover{
            background: #ccc;
          }
        }
      }
    }
  }

}


#form_box>div>span>button {
  cursor: pointer;
  background: #ffd428;
  border: none;
  padding: 13px 50px;
  border-radius: 5px;
  box-shadow: 0px 3px 7px #d7d7d7;
  color: #fff;
  font-size: 14px;
}




mat-spinner{
  margin: 0px auto;
  ::ng-deep{
    circle {
      stroke: #fbc700;
    }
  }
}



@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


@media screen and (min-width:768px) {
  .home-copy{
    padding: 30px 20px;
  }
}