footer {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  gap: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;

  #language {
    padding: 0 6px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: white;

    svg {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      fill: #242a37;
    }

    select {
      border: none;
      padding: 6px 0;
      display: inline-block;
      text-transform: uppercase;
    }
  }

  .home-copy {
    width: 80%;
    text-align: center;
    font-size: 1em
  }
}

@media (max-width: 430px) {
  footer {
    #language {
      svg {
        display: none;
      }

      select {
        font-size: .8em;
      }
    }

    .home-copy {
      text-align: center;
      font-size: 0.8em
    }
  }
}