/* Roboto Latin + Arabic 300, 400, 500 */

/* 300 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF; /* Latin */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/arbic.woff2') format('woff2');
  unicode-range: U+0600-06FF; /* Arabic */
}

/* 400 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/arbic.woff2') format('woff2');
  unicode-range: U+0600-06FF;
}

/* 500 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/fonts/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/fonts/arbic.woff2') format('woff2');
  unicode-range: U+0600-06FF;
}
