@use './_variables.scss' as colors;
// @import url(../node_modules/leaflet/dist/leaflet.css);
@use "rtl.scss";
@use "_sizes.scss";
@use "_fonts.scss";


* {
  box-sizing: border-box;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

body {
  font-family:  Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.page_hd {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.no-data {
  text-align: center;
  color: colors.$red;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 6px 10px 4px;
    border: 1px solid #dfe1e4;
    border-radius: 4px;
    margin-bottom: 20px;
  }
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.mat-vertical-content {
  padding: 0 5px 5px 5px !important;
}

.mat-stepper-vertical-line::before {
  content: none !important;
}