@use '../../../../../variables' as colors;
.parentsField {
  position: relative;

  mat-spinner {
    position: absolute;
    top: 25%;
    right: 0px;
  }
}

.parentsDropDown {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border: 1px solid colors.$lightgray;
  position: absolute;
  height: fit-content;
  max-height: 100px;
  overflow: scroll;
  z-index: 222;
  background: colors.$white;
  top: 100%;
  left: 0px;
  margin-top: -23px;
  width: 100%;
  box-shadow: 0px 3px 7px 0px colors.$lightblack;

  li {
    padding: 10px;
    border-bottom: 1px solid colors.$white;
    cursor: pointer;

    b {
      display: block;
    }

    &:last-of-type {
      border: none;
    }

    &:hover {
      border-left: 5px solid colors.$yellow;
    }
  }
}


.parentBox {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 1px solid colors.$white;
  border-radius: 5px;
  margin-bottom: 20px;
  background: colors.$white;
  box-shadow: 0px 0px 6px 2px colors.$lightgray;
  position: relative;
  overflow: hidden;

  h3 {
    margin: 0px;
    font-weight: bold;
    margin-top: 10px;
  }

  h2 {
    font-size: 16px;
    margin: 0px;
  }

  .mat-checkbox {
    margin: 10px;
  }

  .split {
    text-align: center;
    font-weight: bold;
    color: colors.$red;
    margin-bottom: 15px;
  }

  button {
    width: 100%;
  }

  &.loading {
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: colors.$gray;
      z-index: 5;
    }

    &:after {
      content: 'LOADING';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 5;
      transform: translate3d(-50%, -50%, 0);
      font-weight: bold;
    }
  }

}


.gn_loader {
  mat-spinner {
    margin: 0px auto;
  }
}


.closeBtn {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  cursor: pointer;



  &:before,
  &:after {
    position: absolute;
    width: 16px;
    height: 2px;
    content: '';
    background: colors.$gray;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);

  }

  &:after {
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  }

  &:hover {

    &:before,
    &:after {
      background: colors.$orange;
    }
  }

}
form{
  fieldset{
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
}